<div ng-app="myApp" ng-controller="entradaCtrl" class="ng-scope">
    <div class="row center-xs">
        <div class="col-xs-10">
                <div>
                    <p class="text-justify">
                        A plataforma <i>web</i> para Registro de Transcrições de Voz de Operadores do Setor Elétrico é uma solução voltada para operadores e colaboradores da pós operação. A plataforma proposta é inovadora pois atualmente não existe no mercado um sistema de transcrição e registro especificamente para operadores do SIN.
                    </p>
                    <p class="text-left">Os principais <i>frameworks</i> ultilizados na ferramenta computacional são:<br>
                        •   <i>AngularJS Framework</i>;<br>
                        •   <i>Bootstrap Framework</i>;<br>
                        •   <i>JQuery Framework</i>;<br>
                        •   <i>Handsontable</i>;<br>
                        •   <i>MySQL Database</i>;<br>
                        •   <i>P5.Speech</i>;<br>
                        •   Algoritmos desenvolvidos em <i>JavaScript</i>;<br>
                        •   Algoritmos desenvolvidos em <i>PHP</i>.<br><br>
                    </p>
                    <p class="text-justify">As logos (com seus respectivos <i>links</i>) das utilidades exploradas na ferramenta são as seguintes:</p>
                </div>
                <div class="text-center">
                    <div style="display: inline-flex;">
                        <a class="ferramentas" href="https://angularjs.org/" target="_blank"> 
                            <img id="lAng" width="160" height="160" style="padding: 5%;" src="app/imgs/logo_angularjs.png">
                            <label class="ferramentas">Angular Js</label>
                        </a>
                        <a class="ferramentas" href="https://getbootstrap.com/" target="_blank">
                            <img id="lBoot" width="160" height="160" style="padding: 5%;" src="app/imgs/logo_bootstrap.png">
                            <label class="ferramentas">Bootstrap</label>
                        </a>
                        <a class="ferramentas" href="https://jquery.com/" target="_blank">
                            <img id="lJquery" width="160" height="160" style="padding: 5%;" src="app/imgs/logo_jquery.png">
                            <label class="ferramentas">JQuery</label>
                        </a>
                        <a class="ferramentas" href="https://handsontable.com/" target="_blank">
                            <img id="lHand" width="160" height="160" style="padding: 5%;" src="app/imgs/logo_handsontable.jpeg">
                            <label class="ferramentas">Handsontable</label>
                        </a>
                        <a class="ferramentas" href="https://www.mysql.com/" target="_blank">
                            <img id="lMy" width="160" height="160" style="padding: 5%;" src="app/imgs/logo_mysql.png">
                            <label class="ferramentas">MySQL Database</label>
                        </a>
                        <a class="ferramentas" href="https://idmnyu.github.io/p5.js-speech/" target="_blank">
                            <img id="lP5" width="160" height="160" style="padding: 5%;" src="app/imgs/logo_p5speech.png">
                            <label class="ferramentas">P5 Speech</label>
                        </a>
                    </div>	
                </div>
        </div>
    </div>
</div>


